<p-table [value]="dados" [columns]="columns" [responsive]="true" dataKey="id">
    <ng-template pTemplate="header" let-columns>
      <tr >
        <th fxShow.sm="columns.length > 3" fxShow="false" style="width: 2.25em"></th>
        <th *ngFor="let col of columns; let i = index" [attr.data-index]="i" [ngClass.sm]="i > 3 ? 'hide' : ''">
          {{col.descricao}}
        </th>
        <th *ngIf="!config.opcoes">
          Opções
        </th>
      </tr>
    </ng-template>
    <ng-template let-dado let-columns="columns" let-constants="Constants" pTemplate="body">
        <tr>
            <td fxShow.sm="columns.length > 3" fxShow="false">
                <a href="#" [pRowToggler]="dado">
                    <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-pw pi-chevron-circle-right'" style="font-size: 1.25em"></i>
                </a>
            </td>
          <td *ngFor="let col of columns; let i = index" [attr.data-index]="i" [ngClass.sm]="i > 3 ? 'hide' : ''">
                <span class="ui-column-title">{{col.descricao}}</span>
              <span  *ngIf="!col.template">
                  <span *ngIf="col.campo">{{dado[col.campo]}}</span>
                  <span *ngIf="col.campoFormatado">{{col.campoFormatado(dado)}}</span>
                  <i *ngIf="col.icone" class="pi" [ngClass]="col.icone"></i>
              </span>
              <span *ngIf="col.template == 'enum'">
                  <span *ngFor="" class="pr-10">{{constants.enums}}</span> 
              </span>
              <span *ngIf="col.template == 'boolean'">
                  <span class="pr-10">{{dado[col.campo] == true ? 'Sim' : 'Não'}}</span> 
              </span>
              <span *ngIf="col.template == 'quantidade'" class="quantidade" fxLayout="row" fxLayoutAlign="start stretch">
                  <span class="pr-10">{{dado[col.campo]}}</span>
                  <span class="ui-inputgroup-addon">{{dado.enum.symbol}}</span>  
              </span>
                <input  *ngIf="col.template == 'valor'" [(ngModel)]="dado.price" class="no-input" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative:'false' }" readonly>
              <span *ngIf="col.template == 'data'">
                  {{dado[col.campo]|date:'dd/MM/yyyy'}}
              </span>
          </td>
          <td *ngIf="!config.opcoes"  fxLayout="row" fxLayoutAlign="end stretch">
              <p-button (onClick)="editDados.emit(dado.id)" icon="pi pi-pencil" class="pr-10" styleClass="ui-button-success"></p-button>
              <p-button (onClick)="deleteDados.emit(dado.id)" icon="pi pi-trash" styleClass="ui-button-danger"></p-button>
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-dado let-columns="columns">
            <tr>
                <td [attr.colspan]="columns.length - 2">
                    <div *ngFor="let col of columns|slice:3; let i = index">
                        <span class="ui-g-4">{{col.descricao}}</span>
                        <div class="ui-g-8">
                            <span *ngIf="!col.template">
                                <span *ngIf="col.campo">{{dado[col.campo]}}</span>
                                <span *ngIf="col.campoFormatado">{{col.campoFormatado(dado)}}</span>
                                <i *ngIf="col.icone" class="pi" [ngClass]="col.icone"></i>
                            </span>
                            <span *ngIf="col.template == 'boolean'">
                                <span class="pr-10">{{dado[col.campo] == true ? 'Sim' : 'Não'}}</span> 
                            </span>
                                <input  *ngIf="col.template == 'valor'" [(ngModel)]="dado.price" class="no-input" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative:'false' }" readonly>
                            <span *ngIf="col.template == 'data'">
                                {{dado[col.campo]|date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
</p-table>